* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
  
} 

.gallery img {
  width: 18em;
  height: auto;
  margin: 10px
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.gallery-item {
  width: 100px;
  height: 100px;
  object-fit: cover;
  
  cursor: pointer;
  transition: transform 0.3s ease;  
}

.gallery-item:hover {
  transform: scale(1.05);
}

#lightbox-image {
   max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3); 
  transition: transform 0.4s ease, opacity 0.4s ease;

}
